body{
    background-color: chartreuse;
}
h1,h2,p{
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 50px;
    background-color: blueviolet;
    padding: 50px;
}
h2{
    border: dashed;
    font-size: 30px;
}
p{
    font-size: 30px;
    border: inset;
}