body{
    background-color: azure;
}
#div1{
    background-color: aqua;
    font-size: 50px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    background-color:darkgrey ;
    font-size: 40px;
    border: double;
    padding: 50px;
}
input{
    width: 200px;
    height: 40px;
}
select{
    width: 200px;
    height: 40px;
    font-size: 20px;
}