
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.univ.bean.Address" name="adr">
    	    <property name="hNo">
    	    	<value>612</value>
    	    </property>
    	    <property name="street">
    	    	<value>Bhawarkuna</value>
    	    </property>
    	    <property name="city">
    	    	<value>Indore</value>
    	    </property>
    </bean>

</beans>