body{
    background-color: #deb887;
}
#faltu,h1,.hr1{
    border: solid;
    background-color: black;
    text-align: center;
    font-size: 60px;
    color: white;
}
.para1{
    background-color: blue;
    color: aqua;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.hr1{
    padding: 20px;
}
