body{
    background-color: brown;
}
h1{
    text-align: center;
    color: blue;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    color: black;
    font-size: 13px;
}